# Ignore for now
docs/DB schema sketch.xlsx

# Project-specific
ref/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Custom
run vs code.bat
trivial-bets.zip
docs/~*
docs/api notes.txt