<section id="gameboard">

<!-- TODO: hide lanes not using? -->
  <!-- <div *ngFor="let thing of stuff">
    <ng-container *ngIf="show">
      {{log(thing)}}
      <span>{{thing.name}}</span>
    </ng-container>
  </div> -->

  <app-lane *ngFor="let item of laneData" class="lane" [laneData]=item [bets]=item.bets></app-lane>
</section>
<!-- TODO: remove -->
<div style="margin-top:40px;">
  <button (click)="getAnswers1()">Get Answers 1</button>
  <button (click)="getAnswers2()">Get Answers 2</button>
  &nbsp;|&nbsp;
  <button (click)="setBets()">Set Bets</button>
</div>